{% extends "tooter/layout.html" %}

{% block content %}
  <div
    class="flex gap-8 items-start justify-center py-8">
    <a href="/tooter">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
      </svg>
    </a>
    <ul class="flex flex-col gap-4 text-black">
      {% for toot in toots %}
        <li id="{{ toot.id }}" class="p-4 rounded bg-gray-200 min-w-96">
          <p class="text-lg">
            {{ toot.content }}
          </p>
          <div class="flex gap-4">
            <a class="hover:underline"
              href="/tooter/{{ toot.author }}">
              @{{ toot.author }}
            </a>
            <p class="text-gray-800 text-sm">
              {{ toot.date | tootDuration }}
            </p>
          </div>
        </li>
      {% else %}
        <p class='p-4 text-white'>
          No toots!
        </p>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
